body{
    background-color: aliceblue;
}
.card {
    margin-bottom: 20px;
}
.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}
.card-title {
    font-size: 20px; 
    font-weight: bold; 
}
.card-subtitle {
    font-size: 16px; 
    color: #6c757d; 
}
.card-text {
    font-size: 14px; 
}
.price {
    font-size: 18px;
    font-weight: bold; 
}